<div class="sidenav-container">
  <!--<ul>
    <li class="sideContent">
      <span href="#">Call planning management</span>
    </li>
    <hr />
    <li class="sideContent">
      <a class="navbar-tag" href="#">Call qualifying management</a>
    </li>
    <hr />
    <li class="sideContent">
      <a class="navbar-tag" href="#">Event management</a>
    </li>
    <hr />
    <li class="sideContent">
      <a class="navbar-tag" href="#">GRE </a>
    </li>
    <hr />
    <li class="sideContent">
      <a class="navbar-tag" href="#">Real Time Monitor</a>
    </li>
    <hr />
    <li class="sideContent">
      <a class="navbar-tag" href="#">Failed Call Analysis</a>
    </li>
    <hr />
    <li class="sideContent">
      <a class="navbar-tag" href="#">ODS Management Module</a>
    </li>
    <hr />
    <li class="sideContent">
      <a class="navbar-tag" href="#">Certifications</a>
    </li>
    <hr />
    <li class="sideContent">
      <a class="navbar-tag" href="#">Service Level Agreement</a>
    </li>
  </ul>-->
  <!--<div class="sidenav-content">
    <div class="subContent">
      <span  class="subContent">Call Planning Management</span>
    </div>
    <hr />
    <div class="subContent">
      <span  class="subContent">Call Qualifying Management</span>
    </div>
    <hr />
    <div class="subContent">
      <span  class="subContent">Event Management</span>
    </div>
    <hr />
    <div class="subContent">
      <span  class="subContent">GRE</span>
    </div>
    <hr />
    <div class="subContent">
      <span  class="subContent">Real Time Monitor</span>
    </div>
    <hr />
    <div class="subContent">
      <span  class="subContent">Failed Call Analysis</span>
    </div>
    <hr />
    <div class="subContent">
      <span  class="subContent">ODS Management Module</span>
    </div>
    <hr />
    <div class="subContent">
      <span  class="subContent">Certifications</span>
    </div>
    <hr />
    <div class="subContent">
      <span  class="subContent">Service Level Agreement</span>
    </div>
  </div>-->
  <ul class="left_menu">
    <li class="sideContent">
      <a class="navbar-tag" id="lnkCallPlanningManagement" href="#"
        >Call Planning Management</a
      >
    </li>
    <br style="color: 1px solid black" />
    <li class="sideContent">
      <a class="navbar-tag" id="lnkCQM" href="#">Call Qualifying Management</a>
    </li>
    <li class="sideContent">
      <a class="navbar-tag" id="lnkEM3" href="#">Event Management</a>
    </li>
    <li class="sideContent">
      <a class="navbar-tag" id="lnkGrei" href="#">GRE</a>
    </li>
    <li class="sideContent">
      <a class="navbar-tag" id="lnkRTM" href="#">Real Time Monitor</a>
    </li>
    <li class="sideContent">
      <a class="navbar-tag" id="lnkIC" href="#">Failed Call Analysis</a>
    </li>
    <li class="sideContent">
      <a class="navbar-tag" class="navbar-tag" id="lnkOMM" href="#"
        >ODS Management Module</a
      >
    </li>
    <li class="sideContent">
      <a class="navbar-tag" class="navbar-tag" id="lnkCertification" href="#"
        >Certifications</a
      >
    </li>
    <li class="sideContent">
      <a class="navbar-tag" id="lnkSLA" href="#">Service Level Agreement</a>
    </li>
  </ul>
</div>
