<div class="col-md-12">
  <div class="row">
    <ul>
      <li>
        <a href="#">Call planning management</a>
      </li>
      <hr />
      <li>
        <a href="#">Call qualifying management</a>
      </li>
      <hr />
      <li>
        <a href="#">Event management</a>
      </li>
      <hr />
      <li>
        <a href="#">GRE </a>
      </li>
      <hr />
      <li>
        <a href="#">Real Time Monitor</a>
      </li>
      <li>
        <a href="#">Failed Call Analysis</a>
      </li>
      <hr />
      <li>
        <a href="#">ODS Management Module</a>
      </li>
      <hr />
      <li>
        <a href="#">Certifications</a>
      </li>
      <hr />
      <li>
        <a href="#">Service Level Agreement</a>
      </li>
    </ul>
  </div>
</div>
