<div class="sidenav-container">
  <ul class="left_menu">
    <li class="sideContent">
      <a class="navbar-tag" id="lnkCallPlanningManagement"
        >Call Planning Management</a
      >
    </li>
    <li class="sideContent">
      <a class="navbar-tag" id="lnkCQM" href="#">Call Qualifying Management</a>
    </li>
    <li class="sideContent">
      <a class="navbar-tag" id="lnkEM3" href="#">Event Management</a>
    </li>
    <li class="sideContent">
      <a class="navbar-tag" id="lnkGrei" href="#">GRE</a>
    </li>
    <li class="sideContent">
      <a class="navbar-tag" id="lnkRTM" href="#">Real Time Monitor</a>
    </li>
    <li class="sideContent">
      <a class="navbar-tag" id="lnkIC" href="#">Failed Call Analysis</a>
    </li>
    <li class="sideContent">
      <a class="navbar-tag" class="navbar-tag" id="lnkOMM" href="#"
        >ODS Management Module</a
      >
    </li>
    <li class="sideContent">
      <a class="navbar-tag" class="navbar-tag" id="lnkCertification" href="#"
        >Certifications</a
      >
    </li>
    <li class="sideContent">
      <a class="navbar-tag" id="lnkSLA" href="#">Service Level Agreement</a>
    </li>
  </ul>
</div>
