.my-form {
  background-color: white;
  padding: 20px 20px 0% 20px;
  margin-top: 1%;
  height: 50%;
  width: 50%;
  font-size: 15px;
}
.form-group {
  display: flex;
  margin-bottom: 10px;
}

.register-button-div {
  justify-content: center;
  padding-top: 2%;
}
.UserName-Button-div {
  padding-top: 6.3%;
}

.UserName-Button,
.register-button {
  background-color: #188b18;
}
input,
input::placeholder {
  font: 14px sans-serif;
}
.invalid-input {
  border: 1px solid red;
}
.valid-input {
  border: 2px solid rgb(51, 158, 51);
}

.password1-icon {
  color: #999;
}
.password1-input {
  left: 5%;
  position: relative;
  cursor: pointer;
}
.username-input {
  left: 3%;
  position: relative;
  cursor: pointer;
}
.username-icon {
  color: #999;
}
